<?xml version="1.0"?>
<model>
  <name>cybertruck</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>
    Cybertruck robot with 4 wheels and Lidar sensor.
    Exported from SolidWorks using sw2urdf.
  </description>
</model>
